<button class="btn btn-outline-info">Clique Aqui</button>
@{
     string nome = "guizin xandrin";
}
<h1>Exemplo 2 teste lek, @nome</h1>
<p>hoje é @DateTime.Now.ToString("dd/mm/yyyy hh:dd")</p>

@{
    bool mostrarMensagem = true;
    if (mostrarMensagem == true)
    {
        <p>Está é uma mensagem que entrou no if</p>
    }

    for(int i=1; i <= 10; i++)
    {
        int res = i*8;
        <p>8 x @i = @res</p>

    }








}